.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.gialogs_item a {
    text-decoration: none;
    color: white;
}

.dialog{
   
}

.messages a{
    
}

.message{

}

.textarea{
    margin: 10px; 
}